* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 20em;
    margin-right: 20em;
    background-image: url(/Projeto-1-HTML/assets/Fundo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#cabecalho{
    border: solid cornsilk;
    text-align: center;
    margin-top: 8%;
}
#cabecalho img{
    border-radius: 50%;
    width: 24%;
}
#conteudo{
    background: linear-gradient(to right, rgba(241, 236, 236, 0), rgb(245, 245, 244));
    height: 500px;
}

